{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Movie Search</h1>
    <form action="{{ url_for('search') }}" method="post">
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
    {% if movies %}
        <h2>Search Results</h2>
        <ul>
            {% for movie in movies %}
                <li>
                    <img src="{{ movie.Poster }}" alt="{{ movie.Title }} Poster">
                    <h3>{{ movie.Title }} ({{ movie.Year }})</h3>
                    <form action="{{ url_for('add_to_list') }}" method="post">
                        <input type="hidden" name="movie_title" value="{{ movie.Title }}">
                        <input type="hidden" name="movie_year" value="{{ movie.Year }}">
                        <input type="hidden" name="movie_poster" value="{{ movie.Poster }}">
                        <select name="list_id">
                            {% for list in lists %}
                                <option value="{{ list.id }}">{{ list.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Add to List</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
